# Server Configuration
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/ogini

# RocksDB Configuration
ROCKSDB_PATH=/usr/src/app/data/rocksdb

ENABLE_SWAGGER=true
DOCS_PATH=api/docs
CORS_ORIGIN=*

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost/
REDIS_USERNAME=default
REDIS_PASSWORD=password
